.weather-app{
    background: url('../assets/Background.png');
    height: 100vh;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 41px 4vw;
    box-sizing: border-box;
}